services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: hotspot
      POSTGRES_USER: hotspot
      POSTGRES_PASSWORD: hotspot
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  radius:
    image: freeradius/freeradius-server:latest
    ports:
      - "1812:1812/udp"
      - "1813:1813/udp"

  app:
    image: php:8.3-fpm
    working_dir: /var/www
    volumes:
      - ./:/var/www
    depends_on:
      - db
      - redis
      - radius
